<div id = 'partialHeader'>     
    <h1>
        <a href = '/'>潮湿模因</a>
    </h1>
    <br>
    <div class = 'links'>
        <a href = '/'>Home</a>
    </div>
    <div class = 'links'>
        <a href = '/memes'>Memes</a>
    </div>
    <div class = 'links'>
        <a href = '/contact'>Contact</a>
    </div>    
</div>