<!DOCTYPE HTML>
<html>
    <head>
        <link type="text/css" rel = 'stylesheet' href = 'styles/headerStyle.css'>
    </head>
    <body>
        <%- include('partials/header') %>
        <div id = 'text'>
            <p>Welcome to the meme scraper from r/Dankmemes</p>
        </div>
    </body>
</html>